*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.common-btn{
    text-decoration:none;
    background:#2b5df5;
    color:white;
    padding:18px 40px;
    border-radius:10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    
    

}
.common-btn:hover{
    background-color:#4338CA;
}
    

/* nav section  */

nav{
    width:100%;
    height:70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    max-width: 1200px;
    margin: auto;
    padding: 12px 0;
    
}
ul{
     list-style:none;
    display:flex;
    justify-content:center;
    gap:35px;
    
}

ul li a{
    text-decoration:none;
    color:grey;
    font-size:17px;
    
}
/* hero section  */

.hero{
    background-image:url(./img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:90vh;
}

.hero-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background: rgba(0,0,0,.6);
    flex-direction: column;
    align-items: center;


} 
.hero-content h1{
    color: white;
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 30px;
}
.hero em{
    font-style: italic;
}


.hero p{

    color:white;

    font-size:22px;

    max-width:750px;

    margin-bottom:35px;
}


/* speakers */

.speakers{
    padding: 80px 0;
}

.speakers h2{
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;
    
}
.speaker-cards{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2,1fr);
}

.card{
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
}

.card img{
    width:100%;
    border-radius: 8px 8px 0 0;
    display: block;
    height: auto;
    
    
}


.card-content{
    padding: 18px;
}

.card-content h5{
    color: #2563eb;
    font-size: 12px;
    margin-bottom: 8px;
    

}
.card-content h3{
    margin-bottom: 8px;
}

.card-content p{
    color: #575757;

}

/* price-card  */


.plans{
    padding:80px 0; 
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
    

.plans h2{
    text-align: center;
    font-size: 48px;
    margin-bottom: 15px;

}
.plans-subtitle{
    text-align: center;
    color: #676767;
    margin-bottom: 50px;
    
}

.plan-card{
    display: grid;
    
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}


.price-card hr{
    border:none;
    border-top:1px solid #ddd;
    margin:20px 0;
}
.price-card{
    border:1px solid #ddd;
    border-radius:10px;
    padding:24px;
    background:#fff; 
    display: flex;
    flex-direction: column;
}
.price-card h5{
    font-size:12px;
    margin-bottom:10px;
    display: flex;
    flex-direction: column;
}
.price-card h3{
    font-size:50px;
    margin-bottom:5px;
}
.price-text{
    font-size:14px;
    margin-bottom:20px;
}
.price-card ul{
    padding-left:20px;
    margin-bottom:25px;
    display: block;
    
}
.price-card li{
    display: list-item;
    list-style-type: disc;
    margin-bottom:15px;
    font-size:15px;
}


.price-card button{
    width:100%;
     
}
.btn-outline{
    background:white;
    color:#2563eb;
    border:1px solid #2563eb;
    width: 100%;
    padding: 14px 0;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
   
}
.btn-outline-dark{
    width: 100%;
    padding: 14px 0;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
 .premium{
    background: #0F1E2E;
    color: #fff;
    border-radius: 10px;

}
.premium hr{
    border: 1px solid rgba(255,255,255,0.1);
}

/* faq section  */

.faq{
    padding:80px 0 ;
}

.faq-title{
    text-align: center;
    margin-bottom: 50px;
}
.faq-title p{
    margin-top:15px;
}

.faq-items{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.faq-item{
    border: 1px solid #ddd; 
    border-radius: 12px;
    padding: 24px 30px;
    background: #fff;
}
.faq-item h4{
    margin-bottom: 10px;
    font-size: 22px;
    font-weight:600px;
}
    






    




    

    