*{
    margin:0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}
.common-btn{
    text-decoration:none;
    background:#2b5df5;
    color:white;
    padding:18px 40px;
    border-radius:10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;

}
.common-btn:hover{
    background-color:#4338CA;
}
    



nav{
    width:100%;
    height:70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    max-width: 1200px;
    margin: auto;
    padding: 12px 0;
    
}
ul{
     list-style:none;
    display:flex;
    justify-content:center;
    gap:35px;
    
}

ul li a{
    text-decoration:none;
    color:grey;
    font-size:17px;
    
}

.hero{
    background-image:url(./img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 786px;
    width: 1551px;
}

.hero-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background: rgba(0,0,0,.6);
    flex-direction: column;
    align-items: center;


} 
.hero-content h1{
    color: white;
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 30px;
}
.hero em{
    font-style: italic;
}


.hero p{

    color:white;

    font-size:22px;

    max-width:750px;

    margin-bottom:35px;
}
    




    

    